_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock

# data artifacts
data/interim/
data/processed/
data/raw/
outputs/

# notebooks
.ipynb_checkpoints/

# OS/editor junk
.DS_Store
Thumbs.db
*.tmp